<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>

<div class="container py-5">
  <div class="row">
    <div class="col-lg-6 mx-auto rounded border p-4">
      <h2 class="text-center mb-4">Register</h2>
      <hr />

      <div th:if=${success}" class="alert alert-success alert-dismissable fade show" role="alert">
        <strong>Registed Successfully!</strong>
        <a class="ms-2" href="/login">Login</a>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <form method="post" action="/register" th:object="${registerDto}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <div class="row mb-3">
          <label class="col-sm-4 col-form-label">Username: </label>

          <div class="col-sm-8">
            <input class="form-control" id="username" th:field="${registerDto.username}" />

            <p th:if="${#fields.hasErrors('username')}"
               th:errorclass="text-danger"
               th:errors="${registerDto.username}"></p>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-4 col-form-label">Password: </label>

          <div class="col-sm-8">
            <input class="form-control" id="password" type="password" th:field="${registerDto.password}" />

            <p th:if="${#fields.hasErrors('password')}"
               th:errorclass="text-danger"
               th:errors="${registerDto.password}"></p>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-4 col-form-label">Confirm Password: </label>

          <div class="col-sm-8">
            <input class="form-control" id="cfPassword" type="password" th:field="${registerDto.cfPassword}" />

            <p th:if="${#fields.hasErrors('cfPassword')}"
               th:errorclass="text-danger"
               th:errors="${registerDto.cfPassword}"></p>
          </div>
        </div>

        <div class="row mb-3">
          <div class="offset-fm-4 col-sm-4 d-grid">
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
          </div>

          <div class="col-sm-4 d-grid">
            <a href="/login" class="btn btn-outline-primary">Back to login</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!--<script>-->
<!--  const submitButttom = document.getElementById("submit");-->

<!--  submitButttom.addEventListener('click',()=>{-->
<!--    const username = document.getElementById('username').value;-->
<!--    const password = document.getElementById('password').value;-->
<!--    const cfPassword = document.getElementById('cfPassword').value;-->

<!--    const data ={-->
<!--      username,-->
<!--      password-->
<!--    }-->

<!--    if(password == cfPassword){-->
<!--      const jsonData = JSON.stringify(data);-->

<!--      fetch('/register', {-->
<!--        method: 'POST',-->
<!--        headers:{-->
<!--          'Content-Type': 'application/json'-->
<!--        },-->
<!--        body: jsonData-->
<!--      })-->
<!--      .then(response =>{-->
<!--      })-->
<!--    }-->
<!--  })-->
<!--</script>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js" integrity="sha384-VQqxDN0EQCkWoxt/0vsQvZswzTHUVOImccYmSyhJTp7kGtPed0Qcx8rK9h9YEgx+" crossorigin="anonymous"></script>
</body>
</html>